@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    font-style: italic;
}
  